@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

body {
  /* border: 2px solid red; */
  /* width: 1260px; */
  font-family: "Red Hat Text", sans-serif;
  background: var(--rose-100);
  /* font-size: 62.5%; */
  padding: 40px 30px;
}

.heading {
  /* border: 2px solid red; */
  min-width: 15%;
  text-align: start;
  margin-left: 35px;
}

.h1 {
  width: fit-content;
}

.container {
  /* border: 2px solid red; */
  width: 95%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* column-gap: 20px; */
}

.dessert-gallery {
  /* border: 2px solid  green; */
  display: flex;
  flex-basis: 75%;
  /* flex-grow: 1; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.single-item {
  width: 280px;
  flex-direction: column;
  margin-bottom: -35px;
}

.single-item .dessert-img {
  width: 100%;
  border-radius: 12px;
}

.single-item .text {
  margin-top: 30px;
  padding: 15px 0;
}

.category {
  /* padding: 20px 0; */
  color: var(--rose-400);
}

.dessert-name {
  color: var(--rose-900);
}

.dessert-price {
  color: var(--red);
}

.add-to-cart {
  background: var(--rose-50);
  width: 60%;
  margin: 0 auto;
  padding: 8px 15px;
  text-align: center;
  border-radius: 15px;
  border: none;
  transform: translate(0%, -400%);
  color: var(--rose-900);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

/* active-states */
/* .single-item .add-to-cart.active {
  background: var(--red);
  color: var(--rose-50);
  transform: translate(0%, -300%);
} */
.single-item:has(.add-to-cart:hover) .dessert-img {
  border: 2px solid var(--red);
}

.single-item:has(.add-to-cart:hover) .increment-decrement-buttons {
  display: block;
  background: var(--red);
  color: var(--rose-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.increment-decrement-buttons {
  display: none;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.increment-decrement-buttons img {
  background: var(--red);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 4px;
  font-weight: 800;
  cursor: pointer;
}

/* .increment-decrement-buttons .btn:active {
  background: var(--rose-50);

}
 .increment-decrement-buttons .btn:active svg path {
  transition: fill 0.3s;
  fill: var(--red);
} */

/* ==================
     cart-section
   ================== */
.cart-section {
  margin-top: -35px;
  flex-basis: 23%;
  height: 280px;
  background: var(--rose-50);
  border-radius: 12px;
  padding: 15px;
}

.cart-section img {
  /* border: 1px solid red; */
  padding: 20px 12px;
  width: 70%;
  display: block;
  margin: 0 auto;
}

small p {
  text-align: center;
  margin-top: 20px;
}

.cart-section h3 {
  color: var(--red);
}

/* tablets */
@media (max-width: 882px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .single-item {
    width: 250px;
  }
}

/* small tablets */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .cart-section {
    margin-top: 5px;
    width: 70%;
    margin: 0 auto;
  }
}

/* mobiles */
@media (max-width: 575px) {

  .single-item,
  .cart-section {
    width: 80%;
    margin-top: 5px;
  }
}

/* footer */
.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}